#generatorSpecific() 
#exposeApplicationSpecific() 
#set ($applicationOF=$configuration.name) 
#set ($applicationLabel=$formatUtils.getJavaName($applicationOF))
#set ($first_str=$applicationOF.substring(0,1).toUpperCase())
#set ($rest_str=$applicationOF.substring(1))
#set ($applicationNameOF=${first_str} + ${rest_str}) 
#set ($D='$')
<?xml version="1.0" encoding="UTF-8"?>

<screens xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://ofbiz.apache.org/Widget-Screen" xsi:schemaLocation="http://ofbiz.apache.org/Widget-Screen http://ofbiz.apache.org/dtds/widget-screen.xsd">

    <screen name="main">
        <section>
            <widgets>
                <label text=" "/>
            </widgets>
        </section>
    </screen>

#foreach ($model in $configuration.models())
#exposeVariableComponentSpecific()
#foreach ($table in $modelEntities)
#exposeVariableEntitySpecific()
#set($tableLabel=$i18nUtils.getI18nFromDBObject($table))
    <screen name="Find$tableClassName">
        <section>
            <actions>
                <set field="headerItem" value="${tableClassName}MenuItem"/>
                <set field="titleProperty" value="PageTitleFind$tableClassName"/>
                <entity-condition entity-name="$tableClassName" list="listIt"/>
            </actions>
            <widgets>
                <decorator-screen name="main-decorator" location="${parameters.mainDecoratorLocation}">
                    <decorator-section name="body">
                        <section>
                            <condition>
                                <if-has-permission permission="WEBTOOLS" action="_VIEW"/>
                            </condition>
                            <widgets>
                                <decorator-screen name="FindScreenDecorator" location="component://common/widget/CommonScreens.xml">
                                    <decorator-section name="menu-bar">
                                        <container style="button-bar">
                                            <link target="Edit$tableClassName" text="${uiLabelMap.CreateNew}" style="buttontext create">
                                                <image url-mode="raw" src="${iconsLocation}/add.png"/>
                                            </link>
                                            <link target="${tableClassName}ReportXls" text="${uiLabelMap.CommonViewAsXls}" style="buttontext">
                                                <image url-mode="raw" src="${iconsLocation}/page_white_excel.png"/>
                                                <!-- parameter param-name="$primaryKeyVariable"/ -->
                                            </link>
                                        </container>
                                    </decorator-section>
                                    <decorator-section name="search-options">
                                        <include-form name="Find${tableClassName}s" location="component://$applicationOF/widget/${applicationNameOF}Forms.xml"/>
                                    </decorator-section>
                                    <decorator-section name="search-results">
                                        <include-form name="List${tableClassName}s" location="component://$applicationOF/widget/${applicationNameOF}Forms.xml"/>
                                    </decorator-section>
                                </decorator-screen>
                            </widgets>
                            <fail-widgets>
                                <label style="h3">${D}{uiLabelMap.${tableClassName}ViewPermissionError}</label>
                            </fail-widgets>
                        </section>
                    </decorator-section>
                </decorator-screen>
            </widgets>
        </section>
    </screen>

    <screen name="Edit$tableClassName">
        <section>
            <actions>
                <set field="titleProperty" value="PageTitleEdit$tableClassName"/>
                <set field="headerItem" value="${tableClassName}MenuItem"/>
                <set field="tabButtonItem" value="Edit$tableClassName"/>
                <set field="$primaryKeyVariable" from-field="parameters.$primaryKeyVariable"/>
                <property-map resource="${applicationNameOF}UiLabels" map-name="uiLabelMap" global="true"/>
                <entity-one entity-name="$tableClassName" value-field="$tableVariableName"/>
            </actions>
            <widgets>
                <decorator-screen name="main-decorator" location="${parameters.mainDecoratorLocation}">
                    <decorator-section name="body">
                        <!-- include-form name="Edit$tableClassName" location="component://$applicationOF/widget/${applicationNameOF}Forms.xml"/ -->
                        <section>
                            <condition>
                                <not><if-empty field="$tableVariableName"/></not>
                            </condition>
                            <widgets>
                                <container style="button-bar">
                                </container>
                                <label style="h1" text="${D}{uiLabelMap.Edit$tableClassName}"/>
                                <screenlet id="Edit$tableClassName" collapsible="false">
                                    <include-form name="Edit$tableClassName" location="component://$applicationOF/widget/${applicationNameOF}Forms.xml"/>
                                </screenlet>
                            </widgets>
                            <fail-widgets>
                                <label style="h1" text="${D}{uiLabelMap.CreateNew$tableClassName}"/>
                                <screenlet id="Edit$tableClassName" collapsible="false">
                                    <include-form name="Edit$tableClassName" location="component://$applicationOF/widget/${applicationNameOF}Forms.xml"/>
                                </screenlet>
                            </fail-widgets>
                        </section>
                    </decorator-section>
                </decorator-screen>
            </widgets>
        </section>
    </screen>

    <screen name="${tableClassName}Report">
        <section>
            <actions>
                <property-map resource="${applicationNameOF}UiLabels" map-name="uiLabelMap" global="true"/>
                <set field="titleProperty" value="PageTitleList$tableClassName"/>
                <set field="tabButtonItem" value="List$tableClassName"/>
                <entity-condition entity-name="$tableClassName" list="listIt"/>
            </actions>
            <widgets>
                <decorator-screen name="SimpleDecorator" location="component://common/widget/CommonScreens.xml">
                    <decorator-section name="body">
                        <include-form name="List$tableClassName" location="component://$applicationOF/widget/${applicationNameOF}Forms.xml"/>
                    </decorator-section>
                </decorator-screen>
            </widgets>
        </section>
    </screen>

    <!-- screen name="${tableClassName}Report">
        <section>
            <actions>
                <property-map resource="${applicationNameOF}UiLabels" map-name="uiLabelMap" global="true"/>
                <set field="titleProperty" value="PageTitleEdit$tableClassName"/>
                <set field="tabButtonItem" value="Edit$tableClassName"/>
                <set field="exampleId" from-field="parameters.$primaryKeyVariable"/>
                <entity-one entity-name="$tableClassName" value-field="$tableVariableName"/>
            </actions>
            <widgets>
                <decorator-screen name="SimpleDecorator" location="component://common/widget/CommonScreens.xml">
                    <decorator-section name="body">
                        <include-form name="Edit$tableClassName" location="component://$applicationOF/widget/${applicationNameOF}Forms.xml"/>
                    </decorator-section>
                </decorator-screen>
            </widgets>
        </section>
    </screen -->

#end
#end

</screens>
